<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
<h1>Name: {{.Name}}</h1>
<h1>Address: {{.Address}}</h1>
<h1>City: {{.City}}</h1>
<h1>Zip Code: {{.Zip}}</h1>
<h1>Region: {{.Region}}</h1>
{{end}}

</body>
</html>